body {
    background-image: url(../ImagenesFondos/FondoRegistrar.jpg);
    display: block;
    background-size: cover;
}

.usuarioConectado {
    Height: 150px;
    Width: 160px;
    margin-left: 1150px;
    margin-top: -130px;
}

.logoCine {
    Height: 150px;
    Width: 160px;
}

.FormularioDatos {
    background-color: white;
    height: 600px;
    width: 330px;
    margin-left: 580px;
    margin-top: -130px;
    padding-top: 10px;
    padding-left: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 35px;
}

.Alerta{
    height:140px;
    width:280px;
    margin-top: -55px;
    margin-left:600px;
}